.btn-expand {
    background: transparent;
    border: none;
    outline: none;
    /* text-decoration: underline; */
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-left: none;
    color: rgba(0, 0, 0, 0.6);
}